@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Santiago<br />
    Calle Falsa 123<br />
    <abbr title="Phone">P:</abbr>
    +569 123
</address>

<address>
    <strong>Alumno:</strong>   <a href="mailto:soportetienda@asd.cl">soportetienda@asd.cl</a><br />
</address>